body {
    display: grid;
    grid-template-rows: 264px 1006px;
    width: 1920px;
    height: 1270px;
    background: rgba(59, 55, 55, 0.76);
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-template-areas: "c1 c2";
    width: 1920px;
    height: 1020px;
}

.Mizq {
    grid-area: c1;
    width: 296px;
    height: 751px;
    background: #17164D;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.Mizq p {
    color: #FFFFFF;
    font-style: oblique;
    font-size: 20px;
}

.MDer {
    grid-area: c2;
    display: grid;
    width: 1560px;
    height: 998px;
}

.Agregar {
    width: 102px;
    height: 101px;
    background: #525193;
    border-radius: 10px;
}

#txtAgregar {
    width: 86px;
    height: 24px;
    left: 6px;
    top: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.Rectangulo {
    width: 59px;
    height: 49px;
    margin-left: 20px;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 10px;
}

#no {
    position: absolute;
    width: 43px;
    height: 80px;
    top: 200px;
    left: 425px;
    font-family: Arbutus Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #525193;
}

.Ayuda {
    width: 102px;
    height: 101px;
    background: #764119;
    border-radius: 10px;
}

#txtAyuda {
    width: 86px;
    height: 24px;
    left: 6px;
    top: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.Rectangulo2 {
    width: 59px;
    height: 49px;
    margin-left: 20px;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 100%;
}

#si {
    position: absolute;
    width: 33px;
    height: 80px;
    top: 314px;
    left: 428px;
    font-family: Arbutus Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #764119;
}